<%= render "partials/nav" %>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-12">
            <h1 id="title">CODEPREP</h1><img src=
            "http://i22.photobucket.com/albums/b315/Doifreakuout14/LOGO.png">
            <h1>PROBLEM #1: </h1>

     
        <div class="card-panel teal">
          <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
        </div>
        <button class="btn waves-effect waves-light" id="up">UP</button>
           <button class="btn waves-effect waves-light" id="down">DOWN</button>

        </div>
    </div>
</div>
