<%= render "partials/nav" %>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-12">
            <h1 id="title">CODEPREP</h1><img src=
            "http://i22.photobucket.com/albums/b315/Doifreakuout14/LOGO.png">
            <h1>PROBLEM #1: </h1>

            <pre class="solutions"><strong>PROBLEM:</strong><br><br>
            <br>
            </pre>
       
     
        <button class="btn waves-effect waves-light" id="up">UP</button>
           <button class="btn waves-effect waves-light" id="down">DOWN</button>

        </div>
    </div>
</div>


<%= render "partials/footer" %>
