<%= render "partials/nav" %>


<div class="container-fluid">
<div class="row">
  <div class="col-xs-6 col-sm-10 col-lg-12">
   <img src="http://i22.photobucket.com/albums/b315/Doifreakuout14/LOGO.png"> 
    <h1>ABOUT</h1>
    <h3>About text goes here</h3>
</div>
</div>

