<%= render "partials/nav" %>


<div class="container-fluid">
<div class="row">
  <div class="col-xs-6 col-sm-10 col-lg-12">
   <img src="http://i22.photobucket.com/albums/b315/Doifreakuout14/LOGO.png"> 
    <h1>ABOUT CODEPREP</h1>
      <p>Are you new to programming? CODEPREP is just what you need to prepare and practice for the high stress dynamic of technical interviews. With our variety of sample questions, varying difficulty and integrated peer review elements, you are able to simulate whiteboarding with live feedback.</p>

      <p>Our APP has a database full of questions with a variety of difficulties (easy, medium, hard). Upon selection, the user will be taken to a random question with a predetermined countdown clock. In the text form, and under time constraints, the user will write their solution or sudo-code. When time runs out, the user will no longer be able to edit their solution and they will be prompted to either submit their solution to the public or skip to the next question.</p>

      <p> Interviews are stressful, but the CODEPREP app is here to make it less miserable. </p>

</div>
</div>

<div class="container-fluid">
<div class="row">


<%= render "partials/footer" %>
