<%= render "partials/nav" %>


<div class="container-fluid">
<div class="row">
  <div class="col-xs-6 col-sm-4 col-lg-12">
   <img src="http://i22.photobucket.com/albums/b315/Doifreakuout14/LOGO.png"> 
    <h1>START CHALLENGE NOW!</h1>

<h2>SELECT A DIFFICULTY</h2>

  <button class="btn waves-effect waves-light" type="submit" id="easy">EASY
  </button>
    <button class="btn waves-effect waves-light" type="submit" id="medium">MEDIUM
  </button>
    <button class="btn waves-effect waves-light" type="submit" id="hard">HARD
  </button>
  
</div>

<%= render "partials/footer" %>





