<%= render "partials/nav" %>


<div class="container-fluid">
<div class="row">
  <div class="col-xs-6 col-sm-10 col-lg-12">
   <img src="http://i22.photobucket.com/albums/b315/Doifreakuout14/LOGO.png"> 
    <h1>START CHALLENGE NOW!</h1>

<h2>SELECT A DIFFICULTY</h2>

  <a class="btn waves-effect waves-light" href="/questions/easy" id="easy">EASY
  </a>
    <a class="btn waves-effect waves-light" href="/questions/medium" id="medium">MEDIUM
  </a>
    <a class="btn waves-effect waves-light" href="/questions/hard" id="hard">HARD
  </a>
  
</div>
</div>
</div>
<%= render "partials/footer" %>





