// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize";




$color-primary : white;
$color-secondary : black;
$nodeco : none;


body {
    font-family: Oswald,sans-serif;
}


div.container-fluid {
    text-align: center;
}


body > div.container-fluid {
    margin-left: 200px;
    width: 900px;
}


#icon {
    text-align: center;
}


//BUTTONs



body > div.container-fluid > div > div > h2 {
    margin-top: 50px;
}


nav .button-collapse {
    color: #000;
    margin-right: 20px;
}


nav ul a {
    color: $color-secondary;
}


body > nav > div > ul.right.hide-on-med-and-down > li:nth-child(1) > a {
    color: $color-secondary;
    text-decoration: $nodeco;
}


body > nav > div > ul.right.hide-on-med-and-down > li:nth-child(2) > a {
    color: $color-secondary;
    text-decoration: $nodeco;
}


body > nav > div > ul.right.hide-on-med-and-down > li:nth-child(3) > a {
    color: $color-secondary;
    text-decoration: $nodeco;
}


body > nav > div > ul.right.hide-on-med-and-down > li:nth-child(4) > a {
    color: $color-secondary;
    text-decoration: $nodeco;
}


body > nav {
    background-color: transparent;
    box-shadow: none;
}


body > div.container-fluid > div > div > img {
    width: 60%;
}


body > nav > div > a.button-collapse > i {
    text-decoration: none;
}


#new_user > div:nth-child(3) > label {
    font-size: 2em;
    color: #000;
    float: left;
}


#new_user > div:nth-child(4) > label {
    font-size: 2em;
    color: #000;
    float: left;
}


#new_user > div:nth-child(5) > label {
    font-size: 2em;
    color: #000;
    float: left;
}

