// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "materialize";

$color-primary : white;
$color-secondary : black;
$nodeco : none;



html *
{
   color: black !important;
  font-family: 'Roboto'!important;
  font-weight: 200 !important;
}

body > div > div > div > h3:nth-child(1) {
    font-size: 1rem;
}

body > nav {
    margin-top: 10px;
}

body > nav > div > a.brand-logo {
    color: black;
    margin-left: 20px;
    text-decoration: none;
}
body > nav > div > ul > li {
   
    font-size: 30px;
}

div.container-fluid {
    text-align: center;
}

a:focus, a:hover {
    color: transparent;
    text-decoration: none;
}

body > div.container-fluid {
    margin-top: 5px;
    width: 900px;
}

body > nav > div > a.brand-logo {
    color: black;
    margin-left: 20px;
}

#icon {
    text-align: center;
}

body > img {
    width: 40%;
    margin-top: 15px;
    margin-left: 76px;
}

// BUTTONS
body > div.container-fluid > div > div > div {
    margin-top: 60px;
}

#easy {
    width: 141px;
    background-color: transparent;
    color: black;
    height: 45px;
    margin-right: 10px;
    border: 1px solid #000;
}

#medium {
    width: 141px;
    background-color: transparent;
    color: black;
    height: 45px;
    margin-right: 10px;
    border: 1px solid #000;
}

#hard {
    width: 141px;
    background-color: transparent;
    color: black;
    height: 45px;
    border: 1px solid #000;
}

body > nav > div > ul.left.hide-on-med-and-down {
    margin-left: 30px;
}

body > div.container-fluid > div > div > form > input.btn.btn-primary {
    border: 1px solid #000;
}

.btn-group-vertical>.btn:first-child:not(:last-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group-vertical>.btn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#new_user > input.btn.btn-default {
    border: 1px solid #000;
}

body > div.container-fluid > div > div > div > button:nth-child(1) {
    margin-right: 15px;
    width: 143px;
    height: 50px;
    background-color: transparent;
    color: $color-secondary;
    border: 1px solid #000;
}

body > div.container-fluid > div > div > div > button:nth-child(2) {
    margin-right: 15px;
    height: 50px;
    background-color: transparent;
    color: $color-secondary;
    border: 1px solid #000;
}

body > div.container-fluid > div > div > div > button:nth-child(3) {
    height: 50px;
    background-color: transparent;
    color: $color-secondary;
    border: 1px solid #000;
}

#login {
    color: black;
    background-color: white;
    margin-right: 30px;
    width: 150px;
    height: 50px;
}

#new_user > input.btn.btn-default {
      color: black;
    background-color: white;
    margin-right: 30px;
    width: 150px;
    height: 50px;
}

body > div.container-fluid > div > div > form > input.btn.btn-primary {
     color: black;
    background-color: white;
    margin-right: 30px;
    width: 150px;
    height: 50px;

}


body > div.container-fluid > div > div > h2 {
    margin-top: 50px;
    margin-bottom: 40px;
}

body > div.container-fluid > div > div > h2 {
    font-size: 2.56rem;
}

body > div.container-fluid > div > div > h1 {
    font-size: 3.8rem;
    margin-top: 30px;
}

#title {
    font-weight: 200;
}

#login {
    border: 1px solid black;  
}

nav .button-collapse {
    color: #000;
    margin-right: 20px;
}

nav ul a {
    color: $color-secondary;
}

body > nav > div > ul.right.hide-on-med-and-down > li:nth-child(1) > a {
    color: $color-secondary;
    text-decoration: $nodeco;
}

body > nav > div > ul.right.hide-on-med-and-down > li:nth-child(2) > a {
    color: $color-secondary;
    text-decoration: $nodeco;
}

body > nav > div > ul.right.hide-on-med-and-down > li:nth-child(3) > a {
    color: $color-secondary;
    text-decoration: $nodeco;
}

body > nav > div > ul.right.hide-on-med-and-down > li:nth-child(4) > a {
    color: $color-secondary;
    text-decoration: $nodeco;
}

body > nav {
    background-color: transparent;
    box-shadow: none;
}

body > div.container-fluid > div > div > img {
    width: 25%;
}

body > nav > div > a.button-collapse > i {
    text-decoration: none;
}

body > nav > div > a.button-collapse {
    float: right;
}


// NAV BAR 

#dropdown1 > li:nth-child(1) > a {
    color: black;
}

#dropdown1 > li:nth-child(2) > a {
    color: black;
}

#dropdown1 > li:nth-child(3) > a {
    color: black;
}

#dropdown1 > li:nth-child(4) > a {
    color: black;
}


//LOGIN 

body > div.container-fluid > div > div > form > div:nth-child(3) > label {
    font-size: 1.8rem;
    color: black;
    float: left;
}

body > div.container-fluid > div > div > form > div:nth-child(4) > label {
    font-size: 1.8rem;
    color: black;
    float: left;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
    body > nav > div > a.button-collapse {
        margin-top: 10px;
    }

    body > div.container-fluid > div > div > h1:nth-child(2) {
        font-size: 2.2em;
    }

    body > div.container-fluid > div > div > img {
        width: 100%;
        margin-top: 15px;
        margin-left: 20px;
    }

    body > img {
        width: 50%;
        margin-top: 15px;
        margin-left: 76px;
    }

    body > div.container-fluid {
        margin-left: 30px;
        width: 350px;
        text-align: center;
    }
}

// START

#dropdown1 {
    width: 123px !important;
}


//HARD PAGE

body > div.container-fluid > h3 {
        font-size: 1.5rem;
}

//EASY PAGE


//MEDIUM PAGE


//FOOTER - ABOUT

body > div > footer {
    background-color: transparent !important;
    text-align: center;
}

body > div.container-fluid > footer > div {
    background-color: transparent !important;
}

body > div.container-fluid > footer {
    margin-top: 140px;
}

// FOOTER- MAIN - CHALLENGE

body > footer {
     background-color: transparent !important;
     text-align: center;
}

body > footer > div {
     background-color: transparent !important;
}


pre {
    font-family: monospace, monospace !important;
    font-size: 0.8em !important;
    text-align: left;
    word-wrap: break-word;
    margin-left: 30px;
}

body > div.container-fluid > div.container-fluid > div > footer {
    background-color: transparent;
}

body > div.container-fluid > div.container-fluid > div > footer > div {
     background-color: transparent;
}

//MODAL

#modal1 > div {
    text-align: center;
    margin-top: 20px;
}

#modal2 > div {
    text-align: center;
    margin-top: 20px;
    display: inline;
}


#new_solution > input.btn.btn-primary {
    background-color: transparent;
    color: black;
    border: 1px solid #000;
}

#new_solution > div > label {
    font-size: 20px;
    float: left;
}

#countdown {
    font-size: 70px;
    margin-top: 50px;
    font-weight: bold !important;
}

body > nav > div > ul > li {
    font-size: 20px;
    margin-left: 542px;
    margin-top: -34px;
}

nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    padding: 0 15px;
    margin-top: 25px;
    cursor: pointer;
}

textarea {
    resize: none;
}

#new_comment > input.btn.btn-primary {
    background-color: transparent;
    color: black;
    border: 1px solid #000;
}

#up {
    background-color: transparent;
    color: black;
    border: 1px solid #000;
}


#down{
 background-color: transparent;
    color: black;
    border: 1px solid #000;
}

#btn waves-effect waves-light delete {
    background-color: transparent;
    color: black;
    border: 1px solid #000;
}


.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
    background-color: transparent !important;
    color: black !important;
    border: 1px solid #000 !important;
}


pre {
    margin-bottom: 20px;
    margin-top: 20px;
}


body > div.container-fluid > div > div > div:nth-child(3) > div > div > span > strong:nth-child(5) {
    font-weight: bold !important;
}

.card-panel {
    transition: box-shadow .25s;
    padding: 20px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
    text-align: left;
}


body > div.container-fluid > div > div > div > div > div > div > div > div > h1 {
    font-size: 2em;
    text-align: center;
    margin-top: -10px;
}

body > div.container-fluid > div > div > div > div > div > div > div > div > span {
    font-size: 20px;
    text-align: center;
}


body > div.container-fluid > div > div > div.row > div > div {
    transition: box-shadow .25s;
    padding: 20px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
}

#new_comment > div > label {
    font-size: 1.5em;
}

body > div.container-fluid > div > div > div.row > div > div > span {
    font-size: 1.3em;
}


body > div.container-fluid > div > div > div:nth-child(3) > div > div > span > h4 {
    margin-bottom: 40px;
}

body > div.container-fluid > div > div > div:nth-child(5) > div > div > span > h3 {
    font-size: 1.92rem;
}