
<h1>ICON GOES HERE</h1>

<h1>PROBLEM #1 </h1>
<p>Maecenas eu elit fringilla, sollicitudin magna eget, convallis tellus. Morbi eget elementum magna. Cras lacinia risus id purus malesuada, mattis posuere sapien aliquet. Praesent porttitor lobortis sollicitudin. Sed dolor nisi, tincidunt a nibh et, malesuada molestie sem.</p>


<h1>SOLUTIONS</h1>


<p>SOLUTION BY USER 1</p>

<p>SOLUTION BY USER 2</p>

<p>SOLUTION BY USER 3</p>