 <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">HOME</a></li>
        <li><a href="badges.html">MY SOLVED</a></li>
        <li><a href="collapsible.html">SOLUTIONS</a></li>
        <li><a href="mobile.html">ABOUT</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">HOME</a></li>
        <li><a href="badges.html">MY SOLVED</a></li>
        <li><a href="collapsible.html">SOLUTIONS</a></li>
        <li><a href="mobile.html">ABOUT</a></li>
      </ul>
    </div>
  </nav>
 


<div class="container-fluid">
<div class="row">
<div class="col-xs-6 col-sm-4 col-lg-12">        
<h1 id="title">CODEPREP</h1>
   <img src="http://i22.photobucket.com/albums/b315/Doifreakuout14/LOGO.png"> 

<h1>PROBLEM #1 </h1>
<p>Maecenas eu elit fringilla, sollicitudin magna eget, convallis tellus. Morbi eget elementum magna. Cras lacinia risus id purus malesuada, mattis posuere sapien aliquet. Praesent porttitor lobortis sollicitudin. Sed dolor nisi, tincidunt a nibh et, malesuada molestie sem.</p>


<h1>SOLUTIONS</h1>


<p>SOLUTION BY USER 1</p>

<p>SOLUTION BY USER 2</p>

<p>SOLUTION BY USER 3</p>

</div>
</div>
</div>